*{
    background-color: whitesmoke;
}

.container {
    display: flex;
    align-items: center;
    order: 1;
    margin-right: 1rem;
  }
  
.logo {
   width :8em
  }

  img {
    order: 1;
    margin-right: 1rem;
  }
  
  nav{
    float : right;


  }
h1,h2{
    text-align: center;
    font-size: 2em;
    color: #333;
    padding: 0.009em;
    
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
}

ul li {
  display: block;
  margin-bottom: 0.5em;
}